* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dimmed: #ADB5BD;
    --brand: #38D9A9;
    --white: #F1F3F5;
}

body {
    background-color: #101113;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    position: relative;
}

hr {
  border-color: #34363b;
  width: 80%;
  margin-bottom: 20px;
}

a {
    color: var(--brand);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.listening, .command, .play {
    transition-duration: 200ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 900;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    transform: translateY(0px);
}

.listening, .play span {
    font-size: 18px;
}

.listening p {
    color: var(--dimmed);
    margin-top: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
  font-size: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #38D9A9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #38D9A9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}

.slider.round {
  border-radius: 2.125em;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  text-align: center;
  color: var(--dimmed);
  font-size: 14px;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    gap: 12px;
}

footer div p {
    color: var(--white);
    font-weight: 600;
}

footer div img {
    width: 30px;
    height: 30px;
}

.hidden {
    opacity: 0;
    transform: translateY(4px);
}

.see-commands-a {
    text-decoration: none;
    color: black;
}

.see-commands-a:hover {
    text-decoration: none;
}

.see-commands {
    margin-top: 20px;
    padding: 8px 26px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    z-index: 100;
    background-color: #E9ECEF;
}

.link-icon {
    width: 25px;
    height: 25px;
}
